{% extends 'base.html' %}

{% block title %}
<title>Dotty - Profile</title>
{% endblock %}



{% block style %}

{% endblock %}

{% block body %}
<br/><br/><br/><br/><br/><br/>
<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <div class="container" style="padding-top: 100px, padding-bottom: 100px">
        <h1>Profile</h1>
            <p>First name: {{user.first_name}}</p>
            <p>Last name: {{user.last_name}}</p>
            <p>Email: {{user.email}}</p>
            <p>Location: {{user.location}}</p>
            <p>Username: {{user}}</p>
        <a href="/tfm/edit-profile/" class="w3-bar-item w3-button">EDIT PROFILE</a>
        <a href="/tfm/change-password" class="w3-bar-item w3-button">CHANGE PASSWORD</a>
    </div>
  </div>
</div>

<br/><br/><br/><br/><br/><br/><br/>


{% endblock %}
